<section id="{{image._id}}" class="image-jar" data-id="{{image._id}}">

  <img id="image-{{image._id}}" alt="user uploaded image" src="{{image.url}}" width="100%" />

  <hr>

  <h6><span class="title-{{image._id}}">{{image.title}}</span></h6>
  <h6><span class="tag-{{image._id}}">{{image.tag}}</span></h6>

  {{#if image.editable}}
    <section class="is-editable" data-overlay>
      <h6>Title: <span class="title-{{image._id}}">{{image.title}}</span></h6>
      <h6>Tag: <span class="tag-{{image._id}}">{{image.tag}}</span></h6>
      <h6 class="created-{{image._id}}">Created: {{dateFormat image.createdAt}}</h6>
      <h6 class="modified-{{image._id}}">Modified: {{dateFormat image.updatedAt}}</h6>
      <h6 class="owner-{{image._id}}">Owner username: {{image.owner.email}}</h6>
      <div>

        <!-- Open button -->
        <a href="{{image.url}}" target="_blank">
          <button type="button" class="btn btn-secondary">
            Open
          </button>
        </a>

        <!-- Map button -->
        <button type="button" class="btn btn-success open-map" data-id="{{image._id}}">
          Map
        </button>

        <!-- Update Photo Jar Button trigger modal -->
        <button type="button" class="btn update-btn btn submit btn-primary" data-toggle="modal" data-target="#updateModal-{{image._id}}">
          Update
        </button>

        <!-- Delete Button trigger modal -->
        <button type="button" class=" btn submit btn-danger" data-toggle="modal" data-target="#deleteModal-{{image._id}}">
          Delete
        </button>
      </div>

    </section>
  {{else}}
    <section class="not-editable" data-overlay>
      <h6 class="title-{{image._id}}">Title: {{image.title}}</h6>
      <h6 class="tag-{{image._id}}">Tag: {{image.tag}}</h6>
      <h6 class="created-{{image._id}}">Created: {{dateFormat image.createdAt}}</h6>
      <h6 class="modified-{{image._id}}">Modified: {{dateFormat image.updatedAt}}</h6>
      <h6 class="owner-{{image._id}}">Owner username: {{image.owner.email}}</h6>
      <div>
        <!-- Open button -->
        <a href="{{image.url}}" target="_blank">
          <button type="button" class="btn btn-secondary" data-toggle="modal">
            Open
          </button>
        </a>

        <!-- Map button -->
        <button type="button" class="btn btn-success open-map" data-id="{{image._id}}">
          Map
        </button>

      </div>

    </section>
  {{/if}}

  <!-- modal for update-->
  <div class="modal fade" id="updateModal-{{image._id}}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel-{{image._id}}">Update Your Photo Jar:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="update-image-form" data-id={{image._id}}>
            <div class="form-group">
              <input type="hidden" name="image[id]" value="{{image._id}}">
              <label for="InputImageName">Photo Title:</label>
              <input class="update-title-input-{{image._id}}" maxlength="30"required type="text" name="image[title]" class="form-control" placeholder="Photo Title" value="{{image.title}}">
            </div>
            <div class="form-group">
              <label for="InputImageTag">Photo Tag:</label>
              <input class="update-tag-input-{{image._id}}" maxlength="30" type="text" name="image[tag]" class="form-control" placeholder="Photo Tag" value="{{image.tag}}">
            </div>
            <input type="submit" class="btn btn-primary submit" value="Save Changes">
          </form>
        </div>
        <div class="modal-footer">
          <p class="modal-update-msg"></p>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal for deletion confirmation -->
  <div class="modal fade deleteModal" id="deleteModal-{{image._id}}" tabindex="-1" role="dialog" aria-labelledby="delteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title deleteModalLabel" id="deleteModalLabel-{{image._id}}">Delete Photo Jar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> You are about to delete your photo, please confirm.</p>
        </div>
        <div class="modal-footer">
          <p class="modal-delete-msg"></p>
          <form data-id="{{image._id}}" class="delete-image-form">
            <input type="hidden" name="image[id]" value="{{image._id}}">
            <button type="submit" class="delete-btn btn submit btn-danger delete-image-button" data-id={{image._id}}>Yes, delete.</button>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</section>
