{{#each images as |image|}}

    <section class="image-jar signed-out-view" data-id="{{image.id}}">
    <h4>
      {{image.name}}
    </h4>
    <p>
      <small>User:</small> {{image.owner.ref}}
    </p>
      <section>
        <img alt="user uploaded image" src="{{image.url}}" />
      </section>
    <p>
      <small>Tag:</small> {{image.tag}}
    </p>
    <p>
      <small>Date Created:</small> {{image.date_uploaded}}
    </p>
    <p>
      <small>Date Updated:</small> {{image.date_modified}}
    </p>

    <!-- Update Photo Jar Button trigger modal -->
    <button type="button" class="btn update-btn btn submit" data-toggle="modal" data-target="#updateModal-{{image.id}}">
      Update Photo Jar
    </button>

    <!-- Update Photo Jar Modal -->
    <div class="modal fade" id="updateModal-{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel-{{image.id}}">Update Your Photo Jar:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="update-image-form" data-id={{image.id}}>
              <div class="form-group">
                <label for="InputImageName">Photo Title:</label>
                <input required type="text" name="image[name]" class="form-control" placeholder="Photo Title" value="{{image.name}}">
              </div>
              <div class="form-group">
                <label for="InputImageTag">Photo Tag:</label>
                <input required type="text" name="image[tag]" class="form-control" placeholder="Photo Tag" value="{{image.tag}}">
              </div>
              <input type="submit" class="btn submit" value="Save Changes">
            </form>
          </div>
          <div class="modal-footer">
            <p class="modal-update-msg"></p>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Button trigger modal -->
    <button type="button" class=" btn submit" data-toggle="modal" data-target="#deleteModal-{{image.id}}">
      Delete Photo Jar
    </button>

    <!-- Delete Modal -->
    <div class="modal fade deleteModal" id="deleteModal-{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="delteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title deleteModalLabel" id="deleteModalLabel-{{image.id}}">Delete Photo Jar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p> Are you sure you want to delete your Photo Jar FOREVER? </p>
          </div>
          <div class="modal-footer">
            <p class="modal-delete-msg"></p>
            <button type="button" class="delete-btn btn submit delete-image-button" data-id={{image.id}} data-dismiss="modal">Yes, forever.</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        <!-- </form> -->
        </div>
      </div>
    </div>
  </section>

{{/each}}
